<img style="width:500px" src="assets/images/banner.png" alt="Restaurent">
<mat-grid-list cols="2" rowHeight="3:2">

  <mat-grid-tile>
    <mat-label class="desc">
    </mat-label>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="my-card">
      <mat-card-content>
         <form class="register-form" #f="ngForm">
            <!--Restaurant Name-->
            <mat-form-field class="half-width">
                <mat-label>Restaurant Name</mat-label>
                <input  matInput  placeholder="Restaurant Name" name="rName" ngModel>
             </mat-form-field>
             <br>
            <!--Email-->
            <mat-form-field class="full-width">
               <mat-label>Email</mat-label>
               <input  matInput  placeholder="Email" name="email" ngModel>
            </mat-form-field>
            <br>
            <!--Address-->
            <mat-form-field class="full-width">
               <mat-label>Address</mat-label>
               <input  matInput  placeholder="Address" name="address" ngModel>
            </mat-form-field>
            <br>
            <!--Phone number-->
             <mat-form-field class="full-width">
                <mat-label>Phone Number</mat-label>
                <input  matInput  placeholder="Phone Number" name="phoneNum" ngModel>
             </mat-form-field>
             <br>
         </form>
      </mat-card-content>
      <mat-card-actions align="end">
         <button mat-raised-button color="primary">Update</button>
      </mat-card-actions>
   </mat-card>
  </mat-grid-tile>
</mat-grid-list>
