<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span>Flash Foods</span>
    <span class="nav-buttons"></span>
      <button mat-button routerLink="/rest-admin">Restaurant Admin</button>
      <button mat-button routerLink="/customer">Customer</button>
      <button mat-button routerLink="/driver">Driver</button>
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/login">Login</button>
      <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>